@media (max-width: 422.98px){
	.icon{
		opacity: 0;
	}
}
body{
	margin: 0;
	padding: 0;
	background: #0b1522;
	font-family: cursive;
	font-weight: 900;
}
.wrapepr{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}
.text{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 20px 100px;
	flex-wrap: wrap;
}
h1{
	text-align: center;
	color: #db5e81;
	text-shadow: 5px 5px 35px #db5e81;
}
.icon{
	margin-left: 20px;
	width: 20px;
	height: 20px;
	background: #f5a6bd;
	position: relative;
	transform: rotate(-45deg);
}
.icon::before{
	content: '';
	border-radius: 70px;
	width: 20px;
	height: 20px;
	background:  #f5a6bd;
	position: absolute;
	top: -50%;
}
.icon::after{
	content: '';
	border-radius: 70px;
	width: 20px;
	height: 20px;
	background: #f5a6bd;
	position: absolute;
	right: -50%;
}
.heart{
	width: 150px;
	height: 150px;
	background: #f20044;
	position: relative;
	transform: rotate(-45deg);
	box-shadow: -10px 10px 90px #f20044;
	animation: heart 0.6s linear infinite;
}
@keyframes heart{
	0%{
		transform: rotate(-45deg) scale(1.07);
	}
	80%{
		transform: rotate(-45deg) scale(1.0);
	}
	100%{
		transform: rotate(-45deg) scale(0.8);
	}
}
.heart::before{
	content: '';
	border-radius: 70px;
	width: 150px;
	height: 150px;
	background: #f20044;
	position: absolute;
	top: -50%;
	box-shadow: -10px -10px 90px #f20044;
}
.heart::after{
	content: '';
	border-radius: 70px;
	width: 150px;
	height: 150px;
	background: #f20044;
	position: absolute;
	right: -50%;
	box-shadow: 10px 10px 90px #f20044;
}